# Task 4.6 Combining & Exporting Data PART 2

# Table of contents
#### 1. Importing Libraries
#### 2. Importing Data
#### 3. Task 4.6 Steps 4-7

# 01. Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# Turn project folder path into a string

path = r'C:\Users\osoty\Desktop\CareerFoundry Data Analytics\Data Immersion\Achievement 4\02-23 Instacart Basket Analysis'

In [3]:
# 3. Import orders_products_combined.pkl

df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Import products_checked.csv

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# 03. Task 4.6 Steps 4-7

In [5]:
# 4. Check the size of df_orders_products_combined

df_orders_products_combined.shape

(32434489, 11)

### The size of the imported dataframe matches the size of the exported one.

In [6]:
# Check the size of df_prods

df_prods.shape

(49672, 5)

### The size of the imported dataframe matches the size of the exported one.

In [7]:
# Check the output for df_orders_products_combined

df_orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

### The imported dataframe output matches the exported dataframe output.

In [8]:
# Check the output for df_prods

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

### The imported dataframe output matches the exported dataframe output.

### The column 'product_id' is present in both dataframes and can therefore be used as a key to combine the two dataframes.

In [9]:
# Remove the _merge column in df_orders_products_combined since we are doing a new merge

df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [10]:
# Check if the column has been removed

df_orders_products_combined.shape

(32434489, 10)

### There is one column less than before, i.e., the column was removed successfully.

In [11]:
# 5. Merge df_orders_products_combined with df_prods using the 'product_id' column as a key

df_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [12]:
# Check the output for df_merged

df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

### The two dataframes were combined successfully.

In [13]:
# 6. Check value counts for the _merge column

df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### The results of the merge have been confirmed.

In [14]:
# Check df_merged size

df_merged.shape

(32404859, 15)

### The size of the merged dataframe is consistent.

In [15]:
# 7. Export df_merged as orders_products_merged.pkl

df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))